﻿@model PetaPoco.Page<BaByShopConnection.sanpham>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model.Items)
{
    <div class="col-sm-4">
        <div class="product-image-wrapper">
            <div class="single-products">
                <div class="productinfo text-center">
                    <img src="@item.HinhAnh" alt="">
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                </div>
                <div class="product-overlay">
                    <div class="overlay-content">
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                    </div>
                </div>
            </div>
            <div class="choose">
                <ul class="nav nav-pills nav-justified">
                    <li><a href="SanPham/Details/@item.MaSanPham"><i class="fa fa-plus-square"></i>View</a></li>
                    <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                </ul>
            </div>
        </div>
    </div>
}
<ul class="pagination">
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li>@Html.ActionLink(i.ToString(), "Index", new {Page = i })</li>
    }
</ul>
